---
import FloatingCartButton from '../components/FloatingCartButton.astro';

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Tu tienda de ropa online" } = Astro.props;
const showFloatingCartButton = Astro.url.pathname !== '/carrito';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={description}>
  <title>{title}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="/assets/styles/variables.css">
</head>
<body class="font-rubik">
  <slot />
  {showFloatingCartButton && <FloatingCartButton />}
  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    import { initPageTransitions } from '../scripts/pageTransitions.ts';
    initPageTransitions();
  </script>
</body>
</html> 